#header{
	background-color: maroon;
	top: 0;
	left: 0;
	position: absolute;
	width:100%;
	height: 150;
	color: white;
}


#footer{
	background-color: maroon;
	bottom: 0;
	left: 0;
	position: relitave;
	width:100%;
	height: 50;
	color: white;
}
